/* Reset de margem padrão e seleção da fonte principal */
body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9; /* Cor de fundo mais clara */
}

/* Estilo do título principal */
h1 {
    text-align: center;
    color: #3498DB; /* Cor mais clara para o título principal */
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 2em;
}


/* Estilo do formulário de entrada */
form {
    margin-bottom: 20px;
    max-width: 750px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
}

.form:hover {
    transform: scale(1.02);
}

/* Estilo do formulário de entrada para o modo claro */
body.light-mode form {
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo do formulário de entrada para o modo escuro */
body.dark-mode form {
    background-color: #16151d;
    color: #ddd;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Estilo do campo de pesquisa para o modo claro */
body.light-mode input[type="text"] {
    border: 1px solid #ccc;
}

/* Estilo do campo de pesquisa para o modo escuro */
body.dark-mode input[type="text"] {
    border: 1px solid #888;
}

/* Estilo padrão para campos de entrada de texto */
body.light-mode input,
body.light-mode textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo das caixas de entrada de texto para o modo escuro */
body.dark-mode input,
body.dark-mode textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #555; /* Altere para a cor desejada de cinza escuro */
    background-color: #e0e0e0; /* Altere para a cor desejada de fundo escuro */
    color: #282828; /* Altere para a cor desejada de texto em fundo escuro */
    border-radius: 5px;
}

/* Estilo das etiquetas dos campos de entrada */
label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #3498DB; /* Cor mais clara para os títulos dos campos */
}

/* Estilo padrão para campos de entrada de texto */
input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo do botão padrão */
button {
    background-color: #3498db; /* Cor mais clara para o botão principal */
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    color: white;
}

button:hover {
    opacity: 0.8;
}

/* Estilos específicos para botões de atualizar e deletar */
.updateButton, .deleteButton {
    width: 100%;
    margin-top: 10px;
}

/* Estilos específicos para botões de editar e ler */
.buttonContainer {
    display: flex;
    justify-content: space-between; /* Distribui os botões ao longo da linha */
    width: calc(101%); /* Garante que os botões ocupem toda a largura com 20px de espaçamento nas extremidades */
    margin: 2px; /* Adiciona um espaçamento externo aos botões */
}

.editButton, .readButton {
    width: 49%; /* Define a largura para que ambos os botões ocupem 48% da largura total */
    height: 42px;
}

.updateButton {
    background-color: #29b5e0;
    color: white;
}

.updateButton:hover {
    background-color: #17b0df;
}

.deleteButton {
    background-color: #d84540;
    color: white;
}

.deleteButton:hover {
    background-color: #dc1a14;
}

/* Estilo do botão Ordenar por Ordem Alfabética */
.alphabeticalButton {
    background-color: #29b5e0; /* Cor mais clara para o botão de ordenação */
    color: white; /* Cor do texto */
}

.alphabeticalButton:hover {
    background-color: #17b0df; /* Cor de hover desejada */
}

/* Estilo do botão Editar Link para Obra */
.editButton {
    background-color: #decd12; /* Cor desejada */
    color: white; /* Cor do texto */
}

.editButton:hover {
    background-color: #f3df08; /* Cor de hover desejada */
}

/* Estilo do botão Ler */
.readButton {
    background-color: #12de67; /* Cor desejada */
    color: white; /* Cor do texto */
}

.readButton:hover {
    background-color: #0cea61; /* Cor de hover desejada */
}

/* Estilo do botão Adicionar Manga/Manhwa */
.addMangaButton {
    background-color: #3498db; /* Cor desejada */
    color: white; /* Cor do texto */
}

.addMangaButton:hover {
    background-color: #2980b9; /* Cor de hover desejada */
}

/* Estilo do contador de mangás */
#mangaCounter {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ddd;
}

/* Estilo do contador de mangás para o modo claro */
body.light-mode #mangaCounter {
    color: #333;
}

/* Estilo do contador de mangás para o modo escuro */
body.dark-mode #mangaCounter {
    color: #ddd;
}

/* Estilo da lista de mangás */
#mangaList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Reduzindo a distância entre os itens */
    justify-content: space-evenly;
}

/* Estilo do item de mangá */
.mangaItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: calc(16% - 10px); /* 20% da largura total com 15px de espaçamento entre os itens */
    text-align: center;
    position: relative;
    transition: background-color 0.3s;
    margin-bottom: 15px; /* Adicionando margem inferior para espaçamento entre as linhas */
    height: 630px;
}

/* Efeito de hover no item de mangá */
.mangaItem:hover {
    background-color: #f5f5f517;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Adiciona sombra mais pronunciada no hover */
}

/* Estilo da imagem do mangá */
.mangaImage {
    width: 100%;
    height: 350px; /* Reduzindo a altura para caber melhor em telas menores */
    object-fit: cover;
    cursor: pointer;
}

/* Estilo do texto do mangá */
.mangaText {
    text-align: left;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 12px;
}

.mangaText strong {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Define o número máximo de linhas para 2 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px; /* Adiciona um espaçamento mínimo na parte inferior do texto */
}

/* Estilo do item de mangá marcado como lido */
.mangaItem.read {
    background-color: #f0f8ff;
}

/* Adicione isso ao seu estilo CSS para ajustar o posicionamento e o tamanho da caixa de pesquisa */
#searchContainer {
    margin-top: 20px; /* Aumenta a distância vertical entre a caixa de pesquisa e os botões */
    text-align: center; /* Centraliza a caixa de pesquisa */
}

#searchInput {
    width: 290px; /* Reduz ainda mais o tamanho da caixa de pesquisa */
    padding: 8px;
    border: 1px solid #ccc; /* Adiciona uma borda para melhor visualização */
    border-radius: 5px;
    font-size: 14px; /* Tamanho da fonte ajustado */
    text-align: center;
}

/* Adicione isso ao seu estilo CSS */
body.dark-mode {
    background-color: #16151D; /* Cor de fundo para o modo escuro */
    color: #ffffff; /* Cor do texto para o modo escuro */
}
/* Adicione isso ao seu estilo CSS */
#darkModeToggle {
    background: none;
    border: none;
    cursor: pointer;
    transition: filter 0.3s; /* Adiciona uma transição suave à propriedade filter */
}

/* Adicione isso ao seu estilo CSS */
#lampContainer {
    text-align: right;
    margin-top: 20px; /* Adapte conforme necessário */
}

#lampImage {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção original */
    cursor: pointer;
}

#organizeButtons{
    text-align: right;
}