/* Reset de margem padrão e seleção da fonte principal */
body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f7f7f7;
}

/* Estilo do título principal */
h1 {
    text-align: center;
    color: #333;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Estilo do formulário de entrada */
form {
    margin-bottom: 20px;
    max-width: 750px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
}

.form:hover {
    transform: scale(1.02);
}

/* Estilo das etiquetas dos campos de entrada */
label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
}

/* Estilo padrão para campos de entrada de texto */
input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo do botão padrão */
button {
    background-color: #9f9f9f;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    color: white;
}

/* Efeito de opacidade no hover do botão */
button:hover {
    opacity: 0.8;
}

/* Estilos específicos para botões de atualizar e deletar */
.updateButton, .deleteButton {
    width: 100%;
    margin-top: 10px;
}

.updateButton {
    background-color: #5bc0de;
    color: white;
}

.updateButton:hover {
    background-color: #17b0df;
}

.deleteButton {
    background-color: #d84540;
    color: white;
}

.deleteButton:hover {
    background-color: #dc1a14;
}

/* Estilo do botão Ordenar por Ordem Alfabética */
.alphabeticalButton {
    background-color: #f39c12; /* Cor desejada */
    color: white; /* Cor do texto */
}

.alphabeticalButton:hover {
    background-color: #f19500; /* Cor de hover desejada */
}

/* Estilo do botão Editar Link para Obra */
.editButton {
    background-color: #5f6f66; /* Cor desejada */
    color: white; /* Cor do texto */
}

.editButton:hover {
    background-color: #2a302c; /* Cor de hover desejada */
}

/* Estilo do botão Ler */
.readButton {
    background-color: #12de67; /* Cor desejada */
    color: white; /* Cor do texto */
}

.readButton:hover {
    background-color: #0cea61; /* Cor de hover desejada */
}

/* Estilo do botão Adicionar Manga/Manhwa */
.addMangaButton {
    background-color: #3498db; /* Cor desejada */
    color: white; /* Cor do texto */
}

.addMangaButton:hover {
    background-color: #2980b9; /* Cor de hover desejada */
}

/* Estilo do contador de mangás */
#mangaCounter {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

/* Estilo da lista de mangás */
#mangaList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Reduzindo a distância entre os itens */
    justify-content: space-evenly;
}

/* Estilo do item de mangá */
.mangaItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: calc(20% - 15px); /* 20% da largura total com 15px de espaçamento entre os itens */
    text-align: center;
    position: relative;
    transition: background-color 0.3s;
    margin-bottom: 15px; /* Adicionando margem inferior para espaçamento entre as linhas */
    transition: background-color 0.3s, transform 0.3s;
}

/* Efeito de hover no item de mangá */
.mangaItem:hover {
    background-color: #f5f5f5;
}

/* Estilo da imagem do mangá */
.mangaImage {
    width: 100%;
    height: 450px; /* Reduzindo a altura para caber melhor em telas menores */
    object-fit: cover;
    cursor: pointer;
}

/* Estilo do texto do mangá */
.mangaText {
    text-align: left;
    padding: 10px;
    font-size: 14px; /* Reduzindo o tamanho da fonte para caber mais informações */
}

/* Estilo do item de mangá marcado como lido */
.mangaItem.read {
    background-color: #f0f8ff;
}

/* Adicione isso ao seu estilo CSS para ajustar o posicionamento e o tamanho da caixa de pesquisa */
#searchContainer {
    margin-top: 15px; /* Aumenta a distância vertical entre a caixa de pesquisa e os botões */
}

#searchInput {
    width: 255px; /* Reduz o tamanho da caixa de pesquisa */
    padding: 8px; /* Adiciona algum preenchimento interno para melhor aparência */
    transition: width 0.3s, padding 0.3s;
}